- name: 分发 etcd 证书到各 etcd 集群节点
  when: groups['add_masters'] | length == 0
  include_tasks: _etcd.yml

- name: 分发 kubernetes 证书文件到各 kubernetes 集群节点
  when: groups['add_etcds'] | length == 0
  include_tasks: _kubecerts.yml

- name: 生成 kube-config 文件
  when:
    - groups['add_etcds'] | length == 0
    - groups['add_masters'] | length == 0
  include_tasks: "{{ inventory_dir }}/roles/certificates/tasks/kube-config/main.yml"

- name: 分发 kubernetes kuber-config 文件到各 kubernetes 集群节点
  when: groups['add_etcds'] | length == 0
  include_tasks: _kubeconfig.yml
