- block:
  - name: debug
    debug:
      msg: "安装 kubernetes, 可能需要一定时间。。"
    run_once: true

  - name: 离线安装 kubernetes
    shell: >-
      rpm -Uvh --nodeps --force {{ cache_dir }}/kubernetes/*.rpm
  when: install_way != 'binary'

- name: 二进制安装 kubernetes
  when: install_way == 'binary'
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - { src: "{{ cache_dir }}/binary/kubernetes/", dest: "/usr/bin/"}

- block:
  - name: 获取 kubernetes 版本
    shell: "kubeadm version -o short"
    register: kubeadm_version_output

  - name: 配置 kubernetes 版本参数
    set_fact:
      kube_version: "{{ kubeadm_version_output.stdout.split('v')[1] }}"
  run_once: true
  delegate_to: "{{ groups['kube_masters'][0] }}"

- block:
  - name: 获取 bootstrap_token
    shell: >
      cat "{{ k8s_pki_dir }}/token.csv" | grep kubelet-bootstrap | cut -d',' -f1
    register: get_bootstrap_token

  - name: 设置 bootstrap_token 变量
    set_fact:
      bootstrap_token: "{{ get_bootstrap_token.stdout }}"
  run_once: true
  delegate_to: "{{ groups['kube_masters'][0] }}"

- block:
  - name: 安装集群 lb 服务
    include_tasks: lb/main.yml

  - name: 初始化化 kubernetes 集群所有节点
    include_tasks:  common/init_all.yml

  - name: 初始化化 kubernetes 集群 master 节点
    include_tasks:  common/init_master.yml

  - name: 初始化化 kubernetes 集群 worker 节点
    include_tasks:  common/init_worker.yml

  - name: kubeadm 方式启动 kubernetes 集群各组件
    when: startup == 'kubeadm'
    include_tasks: kubeadm/main.yml

  - name: systemctl 方式启动 kubernetes 集群各组件
    when: startup != 'kubeadm'
    include_tasks: binary/main.yml

  - block:
    - name: 配置 rbac 文件
      copy:
        src: "rbac"
        dest: "{{ kubernetes_etc_dir }}"
        mode: 0644

    - name: 创建 RBAC 资源
      shell: >
        kubectl apply -f "{{ kubernetes_etc_dir }}/rbac"
      environment:
        KUBECONFIG: "{{ kubernetes_etc_dir }}/admin.conf"
    delegate_to: "{{ groups['kube_masters'][0] }}"
    run_once: true

  - include_tasks: kube-proxy/main.yml
  - include_tasks: coredns/main.yml

  - name: 添加 kubectl kubeadm 命令自动补全
    lineinfile:
      dest: "{{ ansible_env.HOME }}/.bashrc"
      state: present
      regexp: "{{ item }} completion"
      line: "source <({{ item }} completion bash)"
    with_items:
      - kubectl
      - kubeadm

  - name: 当前会话加载 kubectl kubeadm 命令，并自动补全
    shell: >
      {{ item }} completion bash > /etc/bash_completion.d/{{ item }};
      source {{ ansible_env.HOME }}/.bash_profile
    args:
      executable: /bin/bash
    with_items:
      - kubectl
      - kubeadm

  # Error from server: Get "https://10.0.1.4:10250/containerLogs/kube-system/kube-apiserver-10.0.1.4/kube-apiserver?follow=true": remote error: tls: internal error
  - name: 手动 approve csr
    shell: >
      [ `kubectl get csr | grep 'Pending' | wc -l` -ne 0 ] && \
      kubectl get csr | grep 'Pending' | awk '{print $1}'| xargs kubectl certificate approve || exit 0
    environment:
        KUBECONFIG: "{{ kubernetes_etc_dir }}/admin.conf"
    args:
      executable: /bin/bash
    run_once: "{{ enable_run_once | default(true) }}"
    delegate_to: "{{ groups['kube_masters'][0] }}"

  - name: 获取 kubeconfig admin 文件
    when: inventory_hostname in groups['kube_masters']
    slurp:
      src: "{{ item }}"
    with_items:
      - "{{ kubernetes_etc_dir }}/admin.conf"
    register: slurp_kubeconfig
    run_once: "{{ enable_run_once | default(true) }}"
    delegate_to: "{{ groups['kube_masters'][0] }}"

  - name: 配置 kubeconfig admin 文件到 $HOME/.kube/config
    when: inventory_hostname in groups['kube_masters']
    copy:
      dest: "{{ ansible_env.HOME }}/.kube/config"
      content: "{{ item.content | b64decode }}"
      owner: root
      group: root
      mode: 0600
    no_log: true
    with_items: "{{ slurp_kubeconfig.results }}"

  - name: 禁止 master 节点被调度，设置节点标签
    when: inventory_hostname in groups['kube_masters']
    shell: >
      {% if groups['kube_masters'] | length > 1 -%}
        kubectl cordon {{ inventory_hostname }};
        kubectl taint node {{ inventory_hostname }} node-role.kubernetes.io/master=true:NoSchedule --overwrite;
        kubectl label nodes {{ inventory_hostname }} node-role.kubernetes.io/master='' --overwrite;
      {%- endif -%}
      kubectl label nodes {{ inventory_hostname }} node-role.kubernetes.io/ingress='' --overwrite
    until: set_taint_master.rc == 0
    retries: 3
    delay: "{{ retry_stagger }}"
    register: set_taint_master

  - name: 允许 worker 节点被调度，设置节点标签
    when: inventory_hostname in groups['kube_nodes']
    shell: >
      [ `kubectl get nodes {{ inventory_hostname }} --show-labels | grep cloudprovider` ] && \
      kubectl taint node {{ inventory_hostname }} node.cloudprovider.kubernetes.io/uninitialized-;
      kubectl label nodes {{ inventory_hostname }} node-role.kubernetes.io/worker='' --overwrite
    register: set_taint_worker
    until: set_taint_worker.rc == 0
    retries: 3
    delay: "{{ retry_stagger }}"
    delegate_to: "{{ groups['kube_masters'][0] }}"

  - block:
    - name: 创建 endpoint 配置清单目录
      file:
        name: "{{ item }}"
        state: directory
      with_items: "{{ kubernetes_etc_dir }}/endpoint"

    - name: 配置核心组件的 endpoint 清单文件，以便用于prometheus监控
      template: src="endpoint/{{ item }}.j2" dest="{{ kubernetes_etc_dir }}/endpoint/{{ item }}"
      with_items:
        - control-plane-ep.yml
        - data-plane-ep.yml

    - name: 创建核心组件的 endpoint
      shell: >
        kubectl apply -f {{ kubernetes_etc_dir }}/endpoint/
      environment:
        KUBECONFIG: "{{ kubernetes_etc_dir }}/admin.conf"
      register: apply_endpoint
      until: apply_endpoint.rc == 0
      retries: 3
      delay: "{{ retry_stagger }}"
    run_once: "{{ enable_run_once | default(true) }}"
    delegate_to: "{{ groups['kube_masters'][0] }}"

  - name: 普通用户配置集群访问权限
    include_tasks: common/normal-user-admission.yml
