- name: 安装证书更新脚本(要求 kubernetes 版本>1.17)
  copy:
    src: "{{ inventory_dir }}/roles/certificates/files/update-kubeadm-cert.sh"
    dest: "/usr/local/bin/"
    owner: root
    group: root
    mode: 0755

- name: 配置临时文件 kubeadm-config-certs.yaml 用于生成证书
  template:
    src: "{{ inventory_dir }}/roles/certificates/templates/kubeadm/kubeadm-config.yaml.j2"
    dest: "{{ kubernetes_etc_dir }}/kubeadm-config-certs.yaml"
    owner: "root"
    group: "root"
    mode: "0644"

- name: 删除 etcd 证书，添加新节点重新生成
  when: "groups['add_etcds']|length > 0"
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ etcd_cert_server_key }}"
    - "{{ etcd_cert_server }}"
    - "{{ etcd_cert_peer_key }}"
    - "{{ etcd_cert_peer }}"
  tags:
    - add_etcds

- name: 删除 kubernetest 证书和kubeconfig 认证文件，添加新节点重新生成
  when: "groups['add_masters']|length > 0"
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ apiserver_cert_key }}"
    - "{{ apiserver_cert }}"
    - "{{ kubernetes_etc_dir }}/admin.conf"
    - "{{ kubernetes_etc_dir }}/controller-manager.conf"
    - "{{ kubernetes_etc_dir }}/scheduler.conf"
  tags:
    - add_masters

- block:
  - name: "{{ groups['kube_masters'] | difference(groups['delete_etcds']) | difference(groups['delete_masters']) | unique | first }} 节点生成证书和 kubeconfig 文件"
    shell: >
      kubeadm init phase certs all --config={{ kubernetes_etc_dir }}/kubeadm-config-certs.yaml;
      kubeadm init phase kubeconfig all --config={{ kubernetes_etc_dir }}/kubeadm-config-certs.yaml

  - name: 更新证书 10 年有效期
    shell: >
      /usr/local/bin/update-kubeadm-cert.sh all
    environment:
      ENABLE_INIT: true
  run_once: true
  delegate_to: "{{ groups['kube_masters'] | difference(groups['delete_etcds']) | difference(groups['delete_masters']) | unique | first }}"
