[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
# After=etcd.service
# Wants=etcd.service

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --advertise-address={{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }} \
  --allow-privileged=true \
  --alsologtostderr=true \
  --anonymous-auth=false \
  --api-audiences=api,istio-ca \
  --apiserver-count={{ (groups['kube_masters']| difference(groups['delete_masters'])) |length }}  \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=10 \
  --audit-log-maxsize=100 \
  --audit-log-path={{ kubernetes_log_dir }}/audit/apiserver_audit.log \
  --audit-log-truncate-enabled=true \
  --audit-policy-file={{ kubernetes_etc_dir }}/audit/policy.yaml \
  --authorization-mode=Node,RBAC \
  --bind-address=127.0.0.1 \
  --client-ca-file={{ kubernetes_ca }} \
{% if apiserver_disable_admission_plugins|length > 0 %}
  --disable-admission-plugins={{ apiserver_disable_admission_plugins | join(',') }} \
{% endif %}
{% if apiserver_enable_admission_plugins|length > 0 %}
  --enable-admission-plugins={{ apiserver_enable_admission_plugins | join(',') }} \
{% endif %}
  --enable-aggregator-routing=true \
  --enable-bootstrap-token-auth=true \
  --enable-swagger-ui=true \
  --encryption-provider-config={{ k8s_pki_dir }}/secrets-encryption.yaml \
  --endpoint-reconciler-type=lease \
  --etcd-cafile={{ etcd_ca }} \
  --etcd-certfile={{ etcd_cert_apiserver_server }} \
  --etcd-keyfile={{ etcd_cert_apiserver_server_key }} \
  --etcd-servers={{ etcd_servers }} \
  --event-ttl=1h \
  --feature-gates={%- if feature_gates != None -%}{% for k,v in feature_gates.items() %}{{ k }}={{ v | lower }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %} \
  --kubelet-certificate-authority={{ kubernetes_ca }} \
  --kubelet-client-certificate={{ apiserver_kubelet_cert }} \
  --kubelet-client-key={{ apiserver_kubelet_cert_key }} \
  --log-dir={{ kubernetes_log_dir }}/kube-apiserver \
  --logtostderr=false \
  --max-mutating-requests-inflight=500 \
  --max-requests-inflight=1500 \
  --profiling=false \
  --proxy-client-cert-file={{ front_client }} \
  --proxy-client-key-file={{ front_client_key }} \
  --requestheader-allowed-names= \
  --requestheader-client-ca-file={{ front_ca }} \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --runtime-config=api/all=true \
  --service-account-key-file={{ sa_public_key }} \
  --service-account-issuer=https://kubernetes.default.svc.{{ cluster_domain_name }} \
  --service-account-signing-key-file={{ sa_private_key }} \
  --service-cluster-ip-range={{ service_subnet }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file={{ apiserver_cert }} \
  --tls-private-key-file={{ apiserver_cert_key }} \
  --tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256 \
  --token-auth-file={{ k8s_pki_dir }}/token.csv \
  --v=2 \
  --watch-cache-sizes=node#100,pod#1000

Type=notify
LimitNOFILE=65536
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
