[Service]
ExecStart=
ExecStart=/usr/bin/kubelet \
  --address=127.0.0.1 \
{% if container_runtime == 'containerd' %}
{% if (kube_version is version('1.27.0', '<')) %}
  --container-runtime=remote \
{% endif %}
  --container-runtime-endpoint=unix://{{ cri_socket }} \
{% else %}
  --pod-infra-container-image={{ images.infra.name }} \
{% endif %}
  --root-dir={{ kubelet_data_dir }} \
  --hostname-override={{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }}
Restart=always
