[Service]
Environment="CONTAINER_RUNTIME_ARGS={% if (kube_version is version('1.24.0', '<')) %}{% if container_runtime == 'docker' %}--image-pull-progress-deadline=30m0s {% endif %}{% endif %}{% if (kube_version is version('1.27.0', '<')) %}{% if container_runtime == 'containerd' %}--container-runtime=remote {% endif %}{% endif %}--container-runtime-endpoint=unix://{{ cri_socket }} --image-service-endpoint=unix://{{ cri_socket }}"
