KUBELET_KUBEADM_ARGS="--hostname-override={{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }} {% if (kube_version is version('1.23.0', '<')) %}--alsologtostderr=true --log-dir={{ kubernetes_log_dir }}/kubelet --logtostderr=false {% endif %}--pod-infra-container-image={{ images.infra.name }} --root-dir={{ kubelet_data_dir }} --v=2"
