KUBELET_KUBEADM_ARGS="--hostname-override={{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }} {% if (kube_version is version('1.23.0', '<')) %}--alsologtostderr=true --log-dir={{ kubernetes_log_dir }}/kubelet --logtostderr=false {% endif %}{% if container_runtime == 'docker' %}--pod-infra-container-image={{ images.infra.name }} {% endif %} --root-dir={{ kubelet_data_dir }} --v=2"
