KUBELET_KUBEADM_ARGS="--hostname-override={{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }} --alsologtostderr=true --logtostderr=false --log-dir={{ kubernetes_log_dir }}/kubelet --v=2"
